<h1>Listing Links</h1>

<% @links.each do |link| %>
    <h3><%= link.title %></h3>
    <h4><%= link.url %></h4>
    <td><%= link_to 'Show', link, class: "btn btn-primary" %></td>
    <% if link.user == current_user %>
      <td><%= link_to 'Edit', edit_link_path(link), class: "btn btn-default" %></td>
      <td><%= link_to 'Destroy', link, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-default" %></td>
    <% end %>
<% end %>

