<p id="notice"><%= notice %></p>

<h3>Title:</h3>
<h4><%= @link.title %></h4>

<h3>Url:</h3>
<h4><%= @link.url %></h4>

<%= link_to 'Edit', edit_link_path(@link) %> |
<%= link_to 'Back', links_path %>
