<p id="notice"><%= notice %></p>

<h3>Title:</h3>
<h4><%= @link.title %></h4>

<h3>Url:</h3>
<h4><%= @link.url %></h4>

<div class="btn-group pull-right">

	<%= link_to like_link_path(@link), method: :put, class: "btn btn-default btn-sm" do %>
    	<span class="glyphicon glyphicon-chevron-up"></span>
    		Upvote
    	<%= @link.get_upvotes.size %>
	<% end %>

	<%= link_to dislike_link_path(@link), method: :put, class: "btn btn-default btn-sm" do %>
	    <span class="glyphicon glyphicon-chevron-down">
	    	Downvote
	    <%= @link.get_downvotes.size %>
	<% end %>
	
</div>

<h4 class="comments-title">
	<%= @link.comments.count %> Comments
</h4>

<div id="comments">
	<%= render :partial => @link.comments %>
</div>

<%= simple_form_for [@link, Comment.new] do |f| %>
	<div class="field">
		<%= f.text_area :body, class: "form-control" %>
	</div>
	<br>
	<%= f.submit "Add comment", class: "btn btn-primary" %>
<% end %>

<%= link_to 'Edit', edit_link_path(@link) %> |
<%= link_to 'Back', links_path %>
